.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

app-room-visualization {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

